<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">ProAkademia</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> Dane użytkownika</a>
                </li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Wyloguj</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a class="active" href="index.html"><i class="fa fa-dashboard fa-fw"></i> Strona główna</a>
                </li>
                <li>
                    <a class="active" href="studenci.html"><i class="fa fa-table fa-fw"></i> Studenci</a>
                </li>
                <li>
                    <a class="active" href="pracownicy.html"><i class="fa fa-table fa-fw"></i> Pracownicy</a>
                </li>
                <li>
                    <a class="active" href="zarzadzanie.html"><i class="fa fa-table fa-fw"></i> Zarządzanie</a>
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
</nav>
